tr {
  border-bottom: 1px solid lightgrey;
}

th {
  font-weight: bold;
}


#adminDropDown {
  font-family: 'Comfortaa', cursive;
  border-radius: 12px;
  border: 2px solid lightgrey;
  background-color: white;

}
