/*
styling of all the base elements, also fonts
*/


h1 {
  font-size: 4em;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 3em;
  color: lightgrey;
  font-family: 'Lobster', cursive;
}
p, button {
  font-family: 'Comfortaa', cursive;
}
