/*
Styles the main container.
Main container contains:
- footer
- header
- positioning of central viewport (contains most of the current page info)
- left and right sidebar
*/

.App {
  text-align: center;
  max-width: 360px;
  max-height: 640px;
}


.App-intro {
  font-size: large;
}



.App-header {
  background-color: red;
  height: 100px;
  padding: 0;
  color: white;
  margin:0;
  text-align: center;
}

#footer {
  height: 30px;
  width: 100%;
  background-color: green;
  position: absolute;
  bottom: 0;
}

#testContent {
  background-color: yellow;
  width: 80%;
  height: 400px;
  margin: auto;
}


#mainContent {
  background-color: red;
  width: 80%;
  height: 400px;
  margin: auto;
}
.voteButtonContainer{
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.voteButton {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: white;
  border: none;
  font-size: large;
  margin-bottom: 10px;
}

#likeButton {
  background-color: green;
  margin-right: 50px;
  margin-left: auto;
}

#dislikeButton {
  margin-left: 50px;
  background-color: red;
}
