/* styles the mathing page */

.matchAmountContainer {
  /* the div which contains the number which displays the amount of likes */
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.matchedUserContainer,
.matchedListContainer,
.matchedUsersContainer {
  margin-top: 10px;
}

#matchScore  {
  color: red;
  font-size: 2em;
  font-weight: bold;
  padding: 0px;
}
