/* styles the user card component (used on matches page) */

.smallUserCardContainer {
  /* container of the user card */
  margin: auto;
  border-radius: 10px;
  border: 1px solid lightgrey;
  display: flex;
  text-align: left;
  margin-top: 5px;
  width: 70%;
}

.smallUserAvatar { */
  /* picture of user in card */
  border-right: 1px solid lightgrey;
  /* margin-top: 100px; */
  height: 40px;
}

.smallUserInfo {
  /* information of the user in the card */
  margin-top: 4px;
  margin-left: 10px;
}

.smallUserCardText {
  /* text on the card */
  margin-top: 3px;
  font-size: 0.8em;
  line-height: 0px;
}

#smallUserName {
  /* only username on card */
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
}
